
body, nav,
article, header, footer, section,
p, span,
form, input, label, textarea,
ul, li,
br, hr,
h1, h2, h3, h4, h5, h6
{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
div {
	display: inline-block;
}
ul {
	list-style-type: none;
}

#page-container,
#input-container
{
	display: grid;
	justify-content: center;
	justify-items: center;
	align-items: center;
}
#page-container .grid-item {
	width: 550px;
}

.feature-completed {
	text-decoration: line-through;
}

#input-container {
	grid-column-gap: 10px;

	grid-template-columns: auto auto auto;
	grid-template-areas:
		"input-label input-textarea input-submit";
}
#input-container #input-label {
	grid-area: input-label;
}
#input-container #input-textarea {
	grid-area: input-textarea;
	resize: vertical;
}
#input-container #input-textarea:focus {
	border: 3px solid #555;
}
#input-container #input-submit {
	grid-area: input-submit;
}

#roll-lang-form {
	border: 2px solid black;
}
#history-section {
	background-color: lightblue;
	padding: 5px 5px 5px 5px;
}
#history {
	list-style-type: none;
}
#history li:nth-child(even) {
	background: lightgreen;
	margin-top: 5px;
	margin-bottom: 5px;
}


.roll-example, .roll-example-invalid {
	background-color: lightblue;
	border-radius: 4px;
	border: 3px solid black;
}
.roll-example-invalid {
	background-color: lightcoral;
}
.bullet-list {
	padding-left: 25px;
	list-style-type: disc;
}