
div {
	display: inline-block;
}
.source {

}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; 
}
.tooltiptext {
	visibility: hidden;
	width: 240px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 5px;
	border-radius: 6px;

	position: absolute;
	z-index: 1;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.formula {
	font-weight: bold;
	background-color: tan;
}
.basic-roll {

}
.success-roll {
	color: greenyellow;
}
.fail-roll {

}
.critical-success-roll {
	color: green;
}
.critical-fail-roll {
	color: red;
}
.result {
	display: inline-block;
	font-weight: bold;
	background-color: goldenrod;
}