#tabs {
	width: inherit;
}
#tabs-list {
	display: block;
	padding: 5px 5px 0px 5px;
	background-color: lightblue;
}
.tab-item {
	display: inline;
	background-color: lightgreen;
	padding: 0px 5px 0px 5px;
	border: 1px black solid;
}
.tab-item:hover {
	background-color: grey;
}
.active-tab {
	background-color: lightblue !important;
}

.tab-contents {
	display: none;
	background-color: lightblue;
}
.active-tab-contents {
	display: block !important;
}

#history-section {
	padding: 5px 5px 5px 5px;
}
#history {
	list-style-type: none;
	overflow-y: scroll;
	max-height: 500px;
	height: 500px;
}
#history li:nth-child(even) {
	background: lightgreen;
	margin-top: 5px;
	margin-bottom: 5px;
}

#character-sheets-section {
	display: None;
}

#macros-section {
	display: None;
}

#tables-section {
	display: None;
}