#character-sheets-section {
	justify-items: center;
	align-items: center;

	grid-template-columns: auto;
	grid-template-rows: auto auto auto;

	grid-template-areas:
		"."
		"character-sheet-under-construction"
		".";
}
#character-sheets-section p {
	grid-area: character-sheet-under-construction;
}