#macros-section {
	padding: 5px;
	grid-template-rows: auto auto minmax(0px, 100%);
	width: 360px;
}
#create-new-macro-section {
	display: grid;
	width: 100%;
	justify-items: left;
	align-items: center;
	grid-template-columns: 110px auto;
	grid-template-rows: auto auto auto auto;
	grid-row-gap: 5px;
	grid-template-areas:
		"create-macro-title create-macro-title"
		"macro-name-label macro-name"
		"macro-text-label macro-text"
		"add-to-macros-check add-to-macros-check"
		"macro-submits macro-submits";
}
#create-new-macro-section h3 {
	grid-area: create-macro-title;
}
#create-macro-name-label {
	grid-area: macro-name-label;
}
#create-macro-name {
	grid-area: macro-name;
	width: fit-content;
}
#create-macro-text-label {
	grid-area: macro-text-label;
	align-self: baseline;
}
#create-macro-text {
	grid-area: macro-text;
}
#add-to-macros-check {
	grid-area: add-to-macros-check;
	display: flex;
	align-items: center;
}
#create-macro-submits {
	grid-area: macro-submits;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-self: center;
	justify-content: space-evenly;
}


#macros-table-section {
	width: 99%;
}
#macros-table {
	width: 100%;
	margin-right: 5px;
	border-collapse: collapse;
	background-color: whitesmoke;
}
#macros-table,
#macros-table tr th,
#macros-table tr td
{
	border: 1px solid black;
}
#macros-table tr th {
	padding: 0 5px 0 5px;
	
}
#macro-table tr:first {
	display: flex;
	width: 100%;
	justify-items: space-evenly;
}
tr:nth-child(even) {
	background-color: lightgray;
}
#macros-table tr td {
	text-align: center;
}
#macros-table tr td:nth-child(1) {
	text-align: left !important;
}