
body, nav,
article, header, footer, section,
p, span,
form, input, label, textarea,
ul, li,
br, hr,
h1, h2, h3, h4, h5, h6
{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
body {
	overflow: hidden;
}
div {
	display: inline-block;
}
ul {
	list-style-type: none;
}

#page-container {
	display: grid;
	height: 100vh;
	width: 100vw;

	justify-content: center;
	justify-items: center;
	align-items: stretch;
}
#header-bar {
	grid-area: header-bar;
	width: 100%;
	background-color: whitesmoke;
}

#main-nav-list {
	display: inline;
}
#main-nav-list li {
	display: inline;
}
#main-nav-list li h1 {
    display: inline;
}

#play-area {
	grid-area: play-area;

	display: grid;
	width: 100%;

	justify-content: center;
	justify-items: center;
	align-items: center;

	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		". . ."
		". play-area-under-construction ."
		". . .";

	background-color: grey;
}
#play-area p {
	grid-area: play-area-under-construction;
}

#slider-bar {
	grid-area: slider-bar;
	width: 100%;
	background-color: whitesmoke;
}
#slider-bar:hover {
	background-color: royalblue;
}

#side-bar {
	grid-area: side-bar;

	display: grid;
	width: 100%;
	overflow: hidden;

	justify-content: left;
	justify-items: left;
	align-items: stretch;

	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"tab-bar"
		"tab-content-wrapper";
}

#footer-bar {
	grid-area: footer-bar;
	background-color: whitesmoke;
	width: 100%;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:320px)  {
	#page-container {
		grid-template-columns: 100%;
		grid-template-rows:  auto 1fr auto auto;
		grid-template-areas:
			"header-bar"
			"side-bar"
			"footer-bar";
	}
	#slider-bar {
		display: none;
	}
	#play-area {
		display: none;
	}
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:480px)  { 
	/*
	#input-container {
		grid-template-columns: auto auto;
		grid-template-areas:
			"input-label input-textarea"
			"input-submit input-submit";
	}
	*/
}
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px)  {
	#page-container {
		grid-template-columns: 1fr 6px auto;
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			"header-bar header-bar header-bar"
			"play-area slider-bar side-bar"
			"footer-bar footer-bar footer-bar";
	}
	#slider-bar {
		display: block;
	}
	#play-area {
		display: grid;
	}
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px)  {

}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {

}
/* hi-res laptops and desktops */
@media (min-width:1281px) {

}
