#tabs-bar {
	grid-area: tab-bar;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5px 5px 0px 5px;
	background-color: lightblue;
}
.tab-bar-item {
	display: inline;
	background-color: lightgreen;
	margin: 5px 5px 0 5px;
	padding: 5px 5px 0px 5px;
	border: 1px black solid;
	border-bottom-style: none;
}
.tab-bar-item:hover {
	background-color: grey !important;
}
.active-tab {
	background-color: lightblue;
}

#tab-content-wrapper {
	overflow: hidden;
	grid-area: tab-content-wrapper;
	width: 100%;
	height: 100%;
	background-color: lightblue;
}
.tab-contents {
	overflow-y: hidden;
	overflow-wrap: normal;
	display: none;
	width: 100%;
	height: 100%;
}
.active-tab-contents {
	display: grid;
}